.canvas-interactive-wrapper {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.canvas-interactive-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.canvas-interactive-wrapper .cta-wrapper {
    margin-top: 130px;
    a, h1 {
        position: relative;
        display: inline-block;
        padding: 3px 7px;
        border: solid 1px transparent;
        margin-right: 50px;
        z-index: 1;
        text-decoration: none;
        color: #222;
        transition: border .3s;
    }
}

.canvas-interactive-wrapper .cta-wrapper a.active {
    border-color: #222;
}


/*// css for granim logo*/

.bloc-logo {
    position: relative;
    width: 130px;
    height: 49px;
    float: left;
}

.bloc-logo canvas, .bloc-logo .logo-mask {
    display: block;
    width: 130px;
    height: 49px;
}

.bloc-logo .logo-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 130px;
    background-image: url("../img/logo-mask.png");
    text-indent: -9999px;
}

body {
    padding: 10px;
    background: linear-gradient(rgb(95, 187, 193), #3da9d9)
}

.card {
    background-color: rgba(255, 255, 255, 0.8)
}
